@media print { 
    .col-sm-2{
        width: 16.66666667%; float: left;padding-right: 15px;padding-left: 15px;
    }
    .col-sm-10{
        width: 83.33333333%; float: left;padding-right: 15px;padding-left: 15px;
    }
    
    .txt {
            font-family: sans-serif; 
            font-size: 18px; 
            font-weight: bold; 
            margin: 0 0 0px;
            letter-spacing: 0.5px;
            line-height: 24px;
    }
    .normal-txt {
            font-family: sans-serif; 
            font-size: 18px; 
            line-height: 24px;	
            margin: 0 0 0px;
            letter-spacing: 0.5px;
            padding-left: 30px;
    }
    .txt-bot {
            font-family: sans-serif; 
            font-size: 18px; 
            font-weight: bold; 
            margin: 0 0 0px;
            letter-spacing: 0.5px;
            padding-left: 30px;
            line-height: 24px;
    }
}